<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>S2AppKit+64.framework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>S2AppKit+64.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>S2AppKit.framework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>S2AppKit.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>531F53B5180333BF006E5C5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>531F5407180333F9006E5C5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53641CFA16B7443400089619</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5364213C16B744D300089619</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>539A6CF5186639C000CC044B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53C4FEBB18663C02007C2FA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53F9E74B1802F4CD008680A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
